@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:10;
}

.about-heading{
  font-family: 'Gilda Display', serif;
  font-size:4rem;
  color: #520606;
  position: relative;
  padding-top: 200px;
  padding-left: 50px;
  text-align: left;
  margin-right: 12%;
}


.about-description{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #000000;
  position: relative;
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
  font-weight: 420;
  margin-right: 10%;
}

.about-button{
    font-size: 1.5rem;
    color: #000;
    position: absolute;
    margin-top: 60px;
    margin-left: 40px;
    background-color: #520606;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s ease-in;
    cursor:pointer;
    border-radius: 50px;
}

.about-button:hover{
  font-size: 1.5rem;
  background-color: #3b3b3bc5;
      font-weight: 650;
}

.about-image{
    position: relative;
    width: 900px;
    height: 900px;
    object-fit: cover;
    padding-top: 0%;
    margin-top: 0px;
    box-shadow: 0px 10px 10px rgba(58, 14, 14, 0.2);
    border: 1px solid #d3d3d3;
}

.about-section{
    display: flex;
    justify-content: space-between;
}
    