@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.slider{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
}

.image{
    width: 1850px;
    height: 800px;
    object-fit:cover;
    opacity: 0.3;
    max-width: 100%;
}

.slider-title{
    position: relative;
    font-size: 6rem;
    font-weight: 550;
    color: #000;
    position: absolute;
    top: 45%;
    left:51%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-bottom: 3px solid #000; 
    font-family: 'Gilda Display', serif;
    
}

.slider-description{
    position: relative;
    font-size: 2.6rem;
    font-weight: 550;
    color: #000;
    position: absolute;
    top: 62%;
    left:51%;
    transform: translate(-50%, -50%);
    padding: 10px 20px; 
    text-align: center;
    font-family: 'Gilda Display', serif;
}

.slider-button{
    position: relative;
    font-size: 1.5rem;
    color: #000;
    position: absolute;
    top: 75%;
    left:51%;
    transform: translate(-50%, -50%);
    background-color: #520606;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    transition: 0.01s ease-in;
    cursor:pointer;
    border-radius: 50px;
}


.slider-button:hover{
    font-size: 1.5rem;
    font-weight: 600;
    color:black;
    background-color: white;
}

.slider-button .button{
    text-decoration: none;
}

.slider-button .button:visited {
    color: white;
}


.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    transition: transform .2s;
    z-index: 10;
    opacity: 0.5;
    cursor:pointer;
    user-select: none;
}

.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    opacity: 0.5;
    transition: transform .2s;
    z-index: 10;
    cursor:pointer;
    user-select: none;
}

.right-arrow:hover{
    transform: scale(1.5);
}

.left-arrow:hover{
    transform: scale(1.5);
}


.slide{
    opacity: 0;
    transition-duration: .85s ease;
    transform: translateX(-100%);
}

.slide.active{
    opacity: 1;
    transition-duration: .85s;
    transform: scale(1.08);
    transform: translateX(0);
}


