@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.navbar{
    background-color: #520606;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars{
    margin-left: 3rem;
    font-size: 2rem;
    background: none;
    cursor: pointer;
}


.nav-menu{
    background-color: #ffffff;
    width: 350px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    left: -100%;
    top: 0;
    transition: 850ms;
    z-index: 20;
}

.nav-menu.active{
    left:0;
    transition: 350ms;
}

.nav-text{
    display:flex;
    justify-content: start;
    align-items: center;
    padding: 130px 0px 10px 16px;
    list-style: none;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
}

.nav-text a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    transition: transform 1s;
}
.nav-text a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #ffffff;
    
  }
  
  .nav-text a:hover {
    color: #520606;
    border-bottom: 4px solid #000;
    margin: 0; 
    width: auto; 
    padding-bottom: 20px;
    font-weight: 800;
    cursor: pointer;
  }

  .nav-menu-items{
      width: 100%
  }

  .navbar-toggle{
    background-color: #520606;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  span{
     margin-left:16px; 
  }


  /* @media queries */

  @media screen and (max-width: 375px){

    .nav-menu{
        background-color: #ffffff;
        width: 40%;
        height: 10%;
        display: flex;
        justify-content: center;
        position: fixed;
        left: -100%;
        top: 0;
        transition: 850ms;
        z-index: 20;
    }
    .nav-menu-items{
        width: 100%;
    }

    .menu-bars{
        margin-left: 2rem;
        font-size: 2rem;
        background: none;
        cursor: pointer;
    }

    .nav-text{
        display:flex;
        justify-content: start;
        align-items: center;
        padding: 100px 0px 10px 16px;
        list-style: none;
        height: 50px;
        font-family: 'Montserrat', sans-serif;
    }

    .nav-text a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    transition: transform 1s;
    }
}

  @media screen and (max-width: 768px){

    .nav-menu{
        background-color: #ffffff;
        width: 25%;
        height: 40%;
        display: flex;
        justify-content: center;
        position: fixed;
        left: -100%;
        top: 0;
        transition: 850ms;
        z-index: 20;
    }

    .menu-bars{
        margin-left: 2rem;
        font-size: 2rem;
        background: none;
        cursor: pointer;
    }

    .nav-text{
        display:flex;
        justify-content: start;
        align-items: center;
        padding: 110px 0px 10px 16px;
        list-style: none;
        font-family: 'Montserrat', sans-serif;
    }
  }


  