.signup-heading{
    font-family: 'Gilda Display', serif;
    font-size:5rem;
    color: #520606;
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border-bottom: 3px solid #000; 
}

.signup-subheading{
    font-family: 'Gilda Display', serif;
    font-size:3.8rem;
    color: #520606;
    position: relative;
    padding-top: 70px;
    text-align: center;
    margin: 0 auto;
}

.signup-box{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.signup-bar{
  display: block;
  width:650px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  
  
  appearance: none;
  background: none;
  border:none;
  outline: none;
  
  background-color: rgb(240, 240, 240);
  margin-left: 10px;
  margin-top: 20px;
  text-align: left;
  
  /* border-radius: 0px 0px 16px 16px; */
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.452);

  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 30px;

  transition: 0.4s ease;
}

.signup-bar:focus{
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
  }

.end{
    background-color: #520606;
    padding-bottom: 20px;
}

.footer-container{
    display:flex;
    justify-content: space-evenly;
    padding-top: 35px;
    padding-bottom: 20px;
    margin-top: 6%;
    width: 100%;
    background-color: #520606;

}

.footer{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size:1.5rem;
    color: white;
}


.footer:hover{
    color: white;
    margin: 0; 
    width: auto; 
    border-bottom: 4px solid rgb(255, 255, 255); 
    padding-bottom: 10px;
    font-weight: 600;
}

.company-name{
    text-align: center;
    font-family: 'Gilda Display', serif;
    padding-top: 20px;
    color: white;
}

.social-media{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
    padding-right: 850px;
    padding-left: 850px;

}

.socialmedia-icon{
    font-size: 2rem;
    color:rgb(240, 240, 240); 
    transition: transform 0.4s;
}

.socialmedia-icon:hover{
    transform: scale(1.5);
}


