@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.section-heading{
  font-family: 'Gilda Display', serif;
  font-size: 4rem;
  color: white;
  background-color: #520606;
  text-align: center;
  height: 15vh;
  margin-top: 20px;
  padding-top: 28px;
}

.winemonth-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 90vh;
  background: none;

}

.wine-card{
  position: relative;
  top: 0px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  width: 400px;
  height: 700px;
  background:linear-gradient(to bottom, rgba(255,0,0,0), rgb(240, 239, 239));
  border-radius: 30px 30px 30px 30px;
  box-shadow: 2px 10px 10px rgba(0,0,0,0.2);
  border: 1px solid #ececec;
  transition: 0.3s ease-in;
}

.wine-card:hover{
  transform:scale(1.1);
}

.wine-image{
    position: relative;
    width: 399px;
    height: 400px;
    object-fit: cover;
    padding-top: 0%;
    margin-top: 0px;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    
}

.buy-button{
    position: relative;
      font-size: 1.5rem;
      color: #000;
      position: absolute;
      margin-top: -50px;
      margin-left: 200px;
      background-color: #520606;
      font-family: 'Montserrat', sans-serif;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      transition: 0.3s ease-in;
      cursor:pointer;
      border-radius: 50px;
  }

  .buy-button:hover{
      background-color: #3b3b3bc5;
      font-weight: 650;
      
  }
  

.wine-heading{
  font-family: 'Gilda Display', serif;
  font-size: 1.5rem; 
  font-weight: 900;
  padding-top: 5%;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  height: 10vh;
  text-align: center;
  color: #520606
}

.wine-description{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.05rem;
}


.wine-price{
  color:black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
  font-size: 2.2rem;
}

