@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.section-heading{
  font-family: 'Gilda Display', serif;
  font-size: 4rem;
  color: white;
  background-color: #520606;
  text-align: center;
  height: 15vh;
  margin-top: 20px;
  padding-top: 28px;
}

.wine-app-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 90vh;
  background: none;

}

.card{
  position: relative;
  top: -20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  width: 800px;
  height: 660px;
  background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(240, 239, 239));;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  border: 1px solid #d3d3d3;
  transition: 0.3s ease-in;
}

.card:hover{
  transform: scale(1.05);
}


.subheading{
  font-family: 'Montserrat', serif;
  font-size: 3rem; 
  font-weight: 500;
  padding-top: 3%;
  background-color: #520606;
  width: 100%;
  overflow: hidden;
  height: 12vh;
  text-align: center;
  color: white;
  border-radius: 30px 30px 0px 0px;
}

.wine-dish-description{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.7rem;
  animation: shake 0.5s;
}


.error-description{
  color:red;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.7rem;
  animation: shake 5s ease infinite;
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.search-bar{
  display: block;
  width: 100%;
  padding: 10px;
  
  appearance: none;
  background: none;
  border:none;
  outline: none;
  
  background-color: rgb(207, 207, 207);
  margin-top: 0px;
  text-align: center;
  
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 5px rgba(0,0,0,0.2);

  font-family: 'Montserrat', sans-serif;
  color: #555555;
  font-size: 40px;

  transition: 0.4s ease;
}

.search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}

.scroll-button{
  font-size: 1.5rem;
  color: #000;
  position: absolute;
  margin-top: -120px;
  margin-left: 35%;

  background-color: #520606;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s ease-in;
  cursor:pointer;
  border-radius: 50px;
  
}

.scroll-button:hover{
  background-color: #3b3b3bc5;
  font-weight: 650;
  transform: scale(1.02);
}