@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.section-heading{
  font-family: 'Gilda Display', serif;
  font-size: 4rem;
  color: white;
  background-color: #520606;
  text-align: center;
  padding-top: 3%;
  height: 20vh;
  margin-top: 20px;
};

